<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Linq.Properties.Settings.ParcialConnectionString"
            connectionString="Data Source=FERNANDO-PC\SQLEXPRESS;Initial Catalog=Parcial;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>